---
import Prose from "@components/Prose.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About | Hyun Don Moon">
  <Prose>
    <h1 class="text-2xl mb-4 font-bold">About</h1>
    <section>
      <h2>Me</h2>

      <p>Hi, I'm Hyun Don (or Don if you prefer).</p>

      <p>
        I'm a front-end web developer based in Seoul, South Korea. I enjoy
        creating practical tools that make life a little easier to manage. I
        like performant apps and simple code that's easy to read and maintain.
      </p>

      <p>
        When I'm not coding or studying, I'm probably having a good time
        cooking, reading fantasy novels on my Kindle, playing games on my
        Switch, or traveling.
      </p>

      <p>
        If you'd like to get in touch, you can contact me via <a
          href="https://www.linkedin.com/in/hyundonmoon"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        > or <a href="mailto:hyundonmoon@gmail.com">email</a>. I promise I'll
        get back to you as soon as I can. You can also check out my <a
          href="https://github.com/hyundonmoon"
          target="_blank"
          rel="noopener noreferrer">GitHub profile</a
        > to see what I'm working on.
      </p>
    </section>

    <section>
      <h2>This blog</h2>

      <p>
        This blog was built with Astro, TypeScript, and Tailwind CSS, with a
        focus on performance and a clean, minimalist design inspired by the
        <a
          href="https://smolweb.org/index.html"
          target="_blank"
          rel="noopener noreferrer">smolweb</a
        > concept. The goal is to keep things fast, simple, and accessible for readers,
        without unnecessary bloat.
      </p>

      <p>
        I created this blog to get back into writing and to share what I'm
        learning and exploring in my life. I used to write a lot more but fell
        out of the habit, so I'm hoping to rekindle that passion and share my
        thoughts on various topics, from web development to my experiences in
        everyday life.
      </p>
    </section>
  </Prose>
</BaseLayout>
