---
import Prose from "@components/Prose.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Hyun Don's Blog">
  <Prose>
    <p class="mb-4">
      Hi! I'm <strong>Hyun Don</strong>, a front-end web developer based in
      Seoul, South Korea.
    </p>

    <p>
      This is where I share what I'm learning as I grow as a web developer,
      showcase my interests, and occasionally post updates about what's going on
      in my life. Thanks for dropping by, and I hope you find something that
      sparks your interest!
    </p>
  </Prose>
</BaseLayout>
