---
import Prose from "@components/Prose.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Now | Hyun Don Moon">
  <Prose>
    <h1>Now</h1>

    <p>
      This page is inspired by Derek Sivers' <a
        href="https://nownownow.com/about"
        target="_blank"
        rel="noopener noreferrer">/now pages</a
      > movement. It's a simple concept: a page that tells you what someone is focused
      on at this point in their life.
    </p>

    <section>
      <h3>December, 2024</h3>

      <ul>
        <li>
          <p>
            <strong>Work</strong>: Still on the lookout for opportunities!
            Actively preparing for interviews and seeking roles in front-end web
            development.
          </p>
        </li>

        <li>
          <p>
            <strong>Studying</strong>: Reading "모던 자바스크립트 Deep Dive" to
            brush up on my JavaScript skills. Also reading "우아한 타입스크립트
            with 리액트" to learn more about how TypeScript works with React.
            Finally, I watched a <a
              href="https://youtu.be/86cQJ0MMses?si=6pKuBPiSw5CV2Ph4"
              target="_blank"
              rel="noopener noreferrer">YouTube video</a
            > on TLS handshakes and now I'm hooked on learning more about how the
            internet works.
          </p>
        </li>

        <li>
          <p>
            <strong>Hobbies</strong>: Rediscovering how to solve a Rubik's cube!
            I learned it as a kid but forgot how to do it over the years. I also
            finished playing the demo version of Dragon Quest XI and I loved it.
            I bought the physical copy and I'm waiting for it to arrive.
          </p>
        </li>

        <li>
          <p>
            <strong>Planning</strong>: Reflecting on the past year and creating
            resolutions for 2025, focusing on personal growth, learning, and
            career goals.
          </p>
        </li>
      </ul>
    </section>
  </Prose>
</BaseLayout>
