---
import Prose from "@components/Prose.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Now | Hyun Don Moon"
  pageDescription="What I'm up to right now"
>
  <Prose>
    <h1>Now</h1>

    <p>
      This page is inspired by Derek Sivers' <a
        href="https://nownownow.com/about"
        target="_blank"
        rel="noopener noreferrer">/now pages</a
      > movement. It's a simple concept: a page that tells you what someone is focused
      on at this point in their life.
    </p>

    <section>
      <h3>April, 2025</h3>

      <ul>
        <li>
          <p>
            <strong>Work</strong>: I got a new job! I started working at NHN
            Dooray in March. My first two weeks have been great—I've already
            learned so much, and the people I work with are really nice. Looking
            forward to growing here.
          </p>
        </li>

        <li>
          <p>
            <strong>Studying</strong>: My first assignment at work was to add a
            new feature to a legacy codebase from 5-6 years ago. Turns out, the
            original developer was really into functional programming, so I've
            been diving into core FP concepts like functors and monads to better
            understand the codebase.
          </p>
        </li>

        <li>
          <p>
            <strong>Reading</strong>: For work, I've been reading Luis Atencio's
            <em>Functional Programming in JavaScript</em>. For fun, I've been
            reading <em>Storm Front</em> by Jim Butcher on my commute.
          </p>
        </li>

        <li>
          <p>
            <strong>Gaming</strong>: I just started playing <em
              >Chrono Trigger</em
            >
            on my Nintendo 3DS XL. I had a great time playing <em
              >Dragon Quest XI</em
            >
            on my Switch, so I'm hoping this one will be just as fun.
          </p>
        </li>
      </ul>
    </section>
  </Prose>
</BaseLayout>
