---
import Prose from "../components/Prose.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Now | Hyun Don Moon">
  <Prose>
    <h1>Now</h1>

    <p>
      This page is inspired by Derek Sivers' <a
        href="https://nownownow.com/about"
        target="_blank"
        rel="noopener noreferrer">/now pages</a
      > movement. It's a simple concept: a page that tells you what someone is focused
      on at this point in their life.
    </p>

    <section>
      <h3>Sept/Oct, 2024</h3>

      <ul>
        <li>
          <strong>Work</strong>: Currently looking for new frontend development
          roles. Familiar with Angular, TypeScript, React, and RxJS, and open to
          remote or in-office opportunities, whether in Korea or
          internationally.
        </li>

        <li>
          <strong>Projects</strong>: Recently created a multiplayer <a
            href="https://tictactoe-phi-one.vercel.app/"
            target="_blank"
            rel="noopener noreferrer">tic-tac-toe game</a
          > using React for the frontend and Node.js for the backend, incorporating
          Socket.io as a refresher on React, having primarily worked with Angular
          over the past couple of years.
        </li>

        <li>
          <strong>Studying</strong>: Exploring web performance tips and best
          practices. Recently created a <a
            href="https://virtual-scroll-hacker-news.vercel.app/"
            target="_blank"
            rel="noopener noreferrer">virtual scroller Hacker News</a
          > page that reuses DOM nodes for articles instead of adding new ones with
          each fetch.
        </li>

        <li>
          <strong>Reading</strong>: Currently reading <em
            >The Pragmatic Programmer</em
          >, <em>System Design Interview</em>, and <em>Rhythm of War</em>.
        </li>

        <li>
          <strong>Games</strong>: Just finished my second playthrough of <em
            >Triangle Strategy</em
          > and considering a third. I also have <em>Disco Elysium</em> waiting to
          be played, and I downloaded the demo for <em>Dragon Quest XI S</em>.
        </li>

        <li>
          <strong>Upcoming trips</strong>: Planning a trip to Osaka and Kyoto in
          late October.
        </li>
      </ul>
    </section>
  </Prose>
</BaseLayout>
