---
import Prose from "@components/Prose.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Now | Hyun Don Moon"
  pageDescription="What I'm up to right now"
>
  <Prose>
    <h1>Now</h1>

    <p>
      This page is inspired by Derek Sivers' <a
        href="https://nownownow.com/about"
        target="_blank"
        rel="noopener noreferrer">/now pages</a
      > movement. It's a simple concept: a page that tells you what someone is focused
      on at this point in their life.
    </p>

    <section>
      <h3>May, 2025</h3>

      <ul>
        <li>
          <p>
            <strong>Reading</strong>: I just finished reading <em
              >Marching Powder</em
            > by Rusty Young. What an amazing story. It only took me a little over
            a day to finish it—definitely a page-turner! After that, I've started
            <em>Dark Mirror</em> by Barton Gellman, which dives into the story of
            Edward Snowden from Gellman's perspective. It's been an engaging read
            so far.
          </p>
        </li>

        <li>
          <p>
            <strong>Work</strong>: I've been working on improving our
            i18n-related code and reading a lot of Nx documentation to help out
            with this. There's so much to learn, and I feel a little overwhelmed
            at times, but I'm hopeful it'll get easier with time. It's been
            challenging but rewarding, and I'm excited to see how I can
            contribute to the team's progress.
          </p>
        </li>

        <li>
          <p>
            <strong>Gaming</strong>: Still playing <em>Chrono Trigger</em> on my
            3DS. I haven't had much time to play lately, but I'm hoping to get around
            to finishing it soon. It's a great escape when I have the time.
          </p>
        </li>

        <li>
          <p>
            <strong>Travel</strong>: I'm planning to visit my friend in
            Chuncheon soon. We're going to rent e-bikes and ride around the
            city, which should be a lot of fun! Looking forward to the trip.
          </p>
        </li>

        <li>
          <p>
            <strong>Other</strong>: I'm thinking about starting journaling, but
            I'm not entirely sure what it's all about yet. I'm curious to
            explore it and see how it could fit into my daily routine, but I
            need to dive a bit deeper into the concept before jumping in.
          </p>
        </li>
      </ul>
    </section>
  </Prose>
</BaseLayout>
