---
import Prose from "@components/Prose.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Now | Hyun Don Moon"
  pageDescription="What I'm up to right now"
>
  <Prose>
    <h1>Now</h1>

    <p>
      This page is inspired by Derek Sivers' <a
        href="https://nownownow.com/about"
        target="_blank"
        rel="noopener noreferrer">/now pages</a
      > movement. It's a simple concept: a page that tells you what someone is focused
      on at this point in their life.
    </p>

    <section>
      <h3>February, 2025</h3>

      <ul>
        <li>
          <p>
            <strong>Work</strong>: I was contacted by a few companies where my coding and linguistic skills can be put to good use. I'm currently working as a part-time contributor at these companies while also preparing for upcoming interviews.
          </p>
        </li>
      
        <li>
          <p>
            <strong>Studying</strong>: I've been diving into official docs for web dev tools like Vite, Turborepo, and Nx. It's been a great way to learn best practices and improve my workflow. I even found a typo in one of the docs and submitted a PR—if it gets accepted, does that make me an open-source contributor?
          </p>
        </li>
      
        <li>
          <p>
            <strong>Traveling</strong>: My Shanghai trip with friends is coming up next month! As the designated foodie of the group, I've been researching the best places to eat. Looking forward to exploring the city and trying some amazing food.
          </p>
        </li>
      
        <li>
          <p>
            <strong>Family</strong>: My grandmother recently passed away. While it was a difficult time, I was able to reconnect with many family members and friends. Being surrounded by loved ones has been a great source of comfort.
          </p>
        </li>
      </ul>
      
    </section>
  </Prose>
</BaseLayout>
