---
import Prose from "@components/Prose.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Now | Hyun Don Moon"
  pageDescription="What I'm up to right now"
>
  <Prose>
    <h1>Now</h1>

    <p>
      This page is inspired by Derek Sivers' <a
        href="https://nownownow.com/about"
        target="_blank"
        rel="noopener noreferrer">/now pages</a
      > movement. It's a simple concept: a page that tells you what someone is focused
      on at this point in their life.
    </p>

    <section>
      <h3>January, 2025</h3>

      <ul>
        <li>
          <p>
            <strong>Work</strong>: I'm currently finishing up my portfolio, and
            I'm excited about how it's shaping up! I've also created a list of
            companies I'd love to work for and will be applying soon. Looking
            forward to the next step in my career!
          </p>
        </li>

        <li>
          <p>
            <strong>Studying</strong>: This month, I'm diving deeper into coding
            to test out what I've been learning. My focus is on React and React
            Query, aiming to get more hands-on experience with these tools. I'm
            currently reading up on Didact, a project that walks through how
            React is built from scratch. It's an exciting way to better
            understand the inner workings of React.
          </p>
        </li>

        <li>
          <p>
            <strong>Trips</strong>: I've recently booked a flight to Shanghai
            with some friends for March! I'm really excited about the trip and
            have already started planning. I'm currently researching great
            places to eat and must-visit spots around the city. I can't wait to
            explore and share the experience.
          </p>
        </li>
      </ul>
    </section>
  </Prose>
</BaseLayout>
