---
import Navigation from "@components/Navigation.astro";
---

<header class="border-b-2 border-dashed mb-8 md:mb-12 pb-8">
  <h2>
    <a href="/" class="block text-2xl my-4 font-bold">Hyun Don's Blog</a>
  </h2>
  <Navigation />
</header>
