---
import NavLink from "./NavLink.astro";
---

<div class="flex items-center justify-start gap-x-2.5">
  <NavLink href="/about" data-astro-prefetch>About</NavLink>
  <NavLink href="/now" data-astro-prefetch>Now</NavLink>
  <NavLink href="/notes" data-astro-prefetch>Notes</NavLink>
  <NavLink href="/resume" data-astro-prefetch>Resume</NavLink>
</div>
