---
import NavLink from "@components/NavLink.astro";
---

<div class="flex items-center justify-start gap-x-2.5">
  <NavLink href="/about/">About</NavLink>
  <NavLink href="/now/">Now</NavLink>
  <NavLink href="/notes/">Notes</NavLink>
  <NavLink href="/resume/">Resume</NavLink>
  <NavLink
    target="_blank"
    href="https://witty-lodge-235.notion.site/4bdc1818f727439787e288733066dea4?pvs=4"
    >Portfolio</NavLink
  >
</div>
