---
import NavLink from "./NavLink.astro";
---

<div class="flex items-center justify-start gap-x-2.5">
  <NavLink href="/about">About</NavLink>
  <NavLink href="/now">Now</NavLink>
  <NavLink href="/notes">Notes</NavLink>
  <NavLink href="/projects">Projects</NavLink>
  <NavLink href="/resume">Resume</NavLink>
</div>
