---
import NavLink from "@components/NavLink.astro";
---

<div class="flex items-center justify-start gap-x-2.5">
  <NavLink href="/about/">About</NavLink>
  <NavLink href="/now/">Now</NavLink>
  <NavLink href="/notes/">Notes</NavLink>
  <NavLink href="/resume/">Resume</NavLink>
  <NavLink href="/문현돈_프론트엔드_포트폴리오.pdf" target="_blank"
    >Portfolio</NavLink
  >
</div>
