---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { class: className, ...rest } = Astro.props;
---

<a class=`hover:underline hover:underline-offset-2 ${className}` {...rest}>
  <slot />
</a>
