---
const { class: className } = Astro.props;
---

<div
  class=`prose
  max-w-none
  prose-img:mx-auto
  prose-sm md:prose-base
  prose-a:text-blue-600 prose-p:text-justify ${className}`
>
  <slot />
</div>
