---
const { class: className } = Astro.props;
---

<div
  class=`prose
  prose-terminal
  max-w-none
  prose-sm md:prose-base
  prose-figure:w-fit
  prose-figure:mx-auto ${className}`
>
  <slot />
</div>
