---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/base.css";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body class="max-w-3xl w-full mx-auto my-0 p-4">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
